*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    width: 100%;
    background-color: rgb(36, 35, 35);
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    padding: 0 25px 0 25px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.692);
    align-items: flex-start;
    position: fixed;
    z-index: 2;
}
.img{
    width: 22%;
    margin: 0 1% ;

}
.img > img{
    width: 100%;
}
.menu{
    width: 50%;
    display: flex;
    align-self: center;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
}
label img{
    width: 24px;
    margin: 0 3px;
}
ul li{
    list-style: none;
    display:flex;
    align-items: center;
    padding: 18px 5px;
    transition: all 300ms;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.buscar{
    width: 35%;
    display: flex;  
    align-self: center;

}
.subbus{
    width: 60%;
    display: flex;
    padding: 5px;
    align-items: stretch;
    border: 1px solid transparent;
}
input{
    font-size: 14px;
    display:flex;
    text-align: left;
    background: none;
    outline: none;
    color: white;

}
li:hover{
    background-color: rgba(79, 83, 83, 0.473);
}
.subbus:hover{
    border: solid 1px rgb(18, 115, 180);
    background: rgba(0, 0, 0, 0.705);
}







main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 6.5% 0 0 0;
    position: relative;
    gap: 5px;

}
.cartelera{
    width: 16.30%;
    height: 300px;
    position: relative;
}
.cartelera img{
    width: 100%;
    height: 100%;
    position: relative;
}
.contenido{
    display: flex;
    width: 100%;
    height: 110%;
    position: absolute;
    flex-direction: column;
    top: 0px;
    background-color: rgba(0, 162, 255, 0.336);
    z-index: 1;
    text-align: center;
    visibility: hidden;
}
.contenido h1{
    width: 100%;
    font-size: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 130%;
    text-align: center;
    
}
.descri{
    background-color: rgb(5, 167, 231);
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.cartelera:hover > .contenido{
    visibility: visible;
    cursor: pointer;
    transition: all 300ms;
}
.valoracion{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: -15%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.459);
    height: 10%;
    gap: 5px;
    align-items: center;
}
.valoracion img{
    width: 8%;
    height: 19px;
}

